$mdc-theme-primary: #677282;

@import "material-components-web/material-components-web";

$muted-text-col: #616161;
$dark-text-col: #212121;

$header-height: 49px;

$header-color: #fff;
$header-text-color: #677282;;

body {
  @media (max-width: 720px) {
    overflow: scroll;
    width: 100vw;
  }
}

.main {
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  padding: 0 !important;
  max-width: none !important;
}

header {
  position: fixed !important;
  z-index: 100;
}



// Fix overlap of header with current target url fragment.
:target::before {
  display: block;
  content: "";
  margin-top: -128px;
  height: 128px;
  visibility: hidden;
  pointer-events: none;
}


.api-docs {
  display: flex;
  flex-direction: row;

  font-size: 90%;

  // Page layout
  .toc {
    position: fixed;
    height: calc(100vh - (#{$header-height}));
    top: calc(#{$header-height});
    width: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 101;

    .method-list {
      margin-left: 8px;
      margin-top: 4px;
      font-size: 94%;
    }
  }

  .reference {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 340px;
    margin-top: 64px;
    padding-bottom: 75vh
  }


  @media (max-width: 720px) {
    flex-direction: column;

    .toc {
      display:none;
    }

    .reference {
      margin: 10px;
      overflow-x: hidden;
      padding-bottom: 40px;
    }
  }

  // Styles

  .chip {
    font-size: 12px;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    margin-left: 8px;
    font-weight: bold;
    color: $muted-text-col;
  }

  .toc {
    // background-color: #fafafa;
    padding-left: 16px;

    .symbol {
      margin: 8px 0 8px 0px;
    }

    .header {
      margin-top: 28px;

      .version-string {
        font-weight: bold;
        font-size: 14px;
      }
    }

    .heading-name {
      margin: 32px 0 4px 0;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 1.2px;
      border-bottom: 2px solid #0277BD;
      width: 200px;
    }


    .subheading {
      margin-left: 16px;
    }

    .subheading-name {
      display: inline-block;
      margin: 24px 0 8px 0px;
      border-bottom: 1px solid #0277BD;
    }


    a {
      font-weight: normal;
      text-decoration-color: lightgrey;
      text-decoration: none;
      transition-property: color, text-decoration-color, margin;
      transition-duration: 0.15s;
      margin-left: 0;
      color: $dark-text-col;
    }

    a.highlighted {
      color: #0277BD;
      text-decoration-color: #002b36;
      margin-left: 6px;
      font-weight: bold;
    }
  }

  .reference {
    .api-section {
      max-width: 780px;

      .heading {
        .title {
          @include mdc-typography("headline");          margin-top: 64px;
          border-bottom: 4px solid #0277BD;
          font-weight: 700;

          a {
            text-decoration: none;
          }
        }

        .description {
          font-size: 16px;
        }
      }

      .subheading {
        .title {
          @include mdc-typography("headline");
          margin-top: 64px;

          border-bottom: 1px solid #0277BD;

          a {
            text-decoration: none;
          }
        }

        .description {
          font-size: 16px;
        }
      }
    }

    .symbol {
      margin-top: 64px;
      background-color: #fafafa;
      padding: 32px;
      border-radius: 8px;

      .source-link {
        float:right;
        text-align: right;
        text-transform: lowercase;
        font-weight: normal;
        font-size: 12px;
        padding: 8px;
      }

      .symbol-link:focus {
        outline-color: transparent;
        outline-style: none;
      }

      .symbol-header {
        font-size: 20px;
        font-weight: 700;
        font-family: "Roboto Mono", Roboto;
      }

    }

    .parameter-list {
      margin-top: 16px;

      .heading {
        font-weight: 500;
        color: $muted-text-col;
      }

      ul {
        padding-left:16px;
      }

      li.parameter {
        list-style-type: none;
        margin-bottom: 12px;
        line-height: 1.5em;

        &.config-param {
          margin-left: 24px;

          .param-name {
            color: $dark-text-col;
          }
        }

        .param-name {
          font-family: "Roboto Mono", Roboto;
          font-weight: bold;
        }

        .param-type {
          color: $muted-text-col;
          font-family: "Roboto Mono", Roboto;
          word-wrap: break-word;

          a {
            display: inline-block;
          }
        }
      }

      &.indent {
        margin-left: 16px;
      }
    }

    .returns {
      margin-top: 16px;

      .returns-header {
        font-weight: 500;
        color: $muted-text-col;
      }

      .return-type {
        color: $muted-text-col;
        font-family: "Roboto Mono", Roboto;
      }
    }

    code.hljs {
      border-radius: 5px;
      padding-left: 16px;
      border: none;
      font-family: "Roboto Mono", Roboto;
      font-size: 13px;
    }

    pre.hljs {
      padding: 0px;
      padding-bottom: 32px;


      margin: 0;
      background: white;
      max-width: 720px;
    }

    .snippet-console {
      margin: -32px 0 24px 0;
      min-height: 24px;
      position: relative;
      max-width: 720px;
    }
    .snippet-console-log {
      border-radius: 5px;
      background: #f4f4f4;
      padding: 8px 16px;
      min-height: 16px;
      white-space: pre-wrap;
      font-family: "Roboto Mono", monospace;
    }
    .snippet-run-button {
      position: absolute;
      right: 4px;
      top: 5px;
      font-size: 12px;
      font-weight: bold;
    }

    .snippet-edit-button {
      position: absolute;
      right: 60px;
      top: 5px;
      font-size: 12px;
      font-weight: bold;
    }

    .snippet-error {
      background-color: rgba(255, 0,0,0.1);
      padding: 10px;
      border-radius: 5px;

      .snippet-error-msg {
        margin-left: 8px;
      }
    }

  }
}
