<!-- Footer -->
<footer>
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <span class="mdc-toolbar__title">
        <a href="{{url_for ''}}">TensorFlow.js</a>
      </span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end">
      <nav>
        <a href="https://www.google.ai/pair" target='_blank'>Social Media Link here</a>
        <a href="https://github.com/tensorflow/tfjs" target='_blank'>GitHub</a>
      </nav>
    </section>
  </div>
</footer>
