<!-- Footer -->
<footer>
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <nav>
        <a href="{{url_for ''}}">TensorFlow.js</a>
        <a href="https://www.tensorflow.org/" target='_blank'>TensorFlow.org</a>
      </nav>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <a href="https://twitter.com/tensorflow" target='_blank'>Twitter</a>
      <a href="https://research.googleblog.com/search/label/TensorFlow" target='_blank'>Blog</a>
      <a href="https://github.com/tensorflow/tfjs" target='_blank'>GitHub</a>
    </section>
  </div>
</footer>
