<!-- Footer -->
<footer>  
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">        
      <span class="mdc-toolbar__title">Site Title</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end">
      <nav>
        <a href="https://www.google.ai/pair" target='_blank'>People + AI Research Initiative</a>
        <a href="https://pair-code.github.io" target='_blank'>PAIR Open Source</a>
      </nav>
    </section>
  </div>  
</footer>