<!-- Header -->
<header class="mdc-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <button id="nav-menu-button" class="material-icons mdc-toolbar__menu-icon">menu</button>
      <span class="mdc-toolbar__title">Site Title</span>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end">      
      <nav>        
        <a href="/examples/">Examples</a>
        <a href="/tutorials/">Tutorials</a>
        <a href="/docs/api/">API Reference</a>
        <a target='_blank' href="https://github.com/PAIR-code/deeplearnjs">Code</a>
      </nav>
    </section>
  </div>
</header>

<aside class="sidebar mdc-drawer mdc-drawer--temporary">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-drawer__toolbar-spacer">
      <span class="mdc-toolbar__title">Site Title</span>
    </div>

    
    <nav>
      <ul class="mdc-list">
        <li class="mdc-list-item">
          <a href="/examples/">Examples</a>
        </li>
        <li class="mdc-list-item">
          <a href="/tutorials/">Tutorials</a>
        </li>
        <li class="mdc-list-item">
          <a href="/docs/api/">API Reference</a>
        </li>
        <li class="mdc-list-item">
          <a target='_blank' href="https://github.com/PAIR-code/deeplearnjs">Code</a>
        </li>
        <li class="mdc-list-item">
          <a href="https://www.google.ai/pair" target='_blank'>People + AI Research Initiative</a>
        </li>
        <li class="mdc-list-item">
          <a href="https://pair-code.github.io" target='_blank'>PAIR Open Source</a>
        </li>
      </ul>
      
    </nav>
  </nav>
</aside>