<!-- Header -->
<header class="mdc-toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <button id="nav-menu-button" class="material-icons mdc-toolbar__menu-icon">menu</button>
      <span class="mdc-toolbar__title">
        <a href="{{url_for ''}}">TensorFlow.js</a>
      </span>
    </section>
    <section class="mdc-toolbar__section">
      <nav>
        <a href="{{url_for '/#getting-started'}}">Getting Started</a>
        <a href="{{url_for '/tutorials/'}}">Tutorials</a>
        <a href="{{url_for (concat '/api/' (latestVersion))}}/">Documentation</a>

      </nav>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section mdc-toolbar__section--align-end">
      <nav>
        <a class="cta" target='_blank' href="https://github.com/tensorflow/tfjs">GITHUB</a>
      </nav>
    </section>
  </div>
</header>

<aside class="sidebar mdc-drawer mdc-drawer--temporary">
  <nav class="mdc-drawer__drawer">
    <div class="mdc-drawer__toolbar-spacer">
      <span class="mdc-toolbar__title">TensorFlow.js</span>
    </div>


    <nav>
      <ul class="mdc-list">

      </ul>

    </nav>
  </nav>
</aside>
