@import "material-components-web/material-components-web";
$header-height: 65px;

$muted-text-col: #616161;
$dark-text-col: #212121;

body {
  overflow: hidden;
}

.main {
  margin: 0 !important;
  padding: 0 !important;
  height: calc(100vh - (#{$header-height} * 2));
}

.page {
  padding: 0 !important;
  max-width: none !important;
}


.api-docs {
  display: flex;
  flex-direction: row;
  height: inherit;

  font-size: 90%;

  // Page layout
  .toc {
    width: 25%;
    min-width: 250px;
    max-width: 350px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .reference {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 40px;
  }

  // Styles

  .toc {
    // background-color: #fafafa;
    padding-left: 16px;

    .header {
      @include mdc-typography("headline");
      margin-bottom: 32px;

      .version-string {
        font-weight: bold;
        font-size: 14px;
      }
    }

    .heading-name {
      margin: 16px 0 4px 0;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      letter-spacing: 1.2px;
    }


    .subheading {
      margin-left: 16px;
    }

    .subheading-name {
      display: inline-block;
      margin: 8px 0 8px 0px;
    }

    .symbol {
      margin: 4px 0 4px 16px;
    }

    a {
      font-weight: normal;
      text-decoration-color: lightgrey;
      text-decoration: none;
      transition-property: color, text-decoration-color, padding;
      transition-duration: 0.15s;
      padding-left: 0;
      color: $dark-text-col;
    }

    a.highlighted {
      color: #0277BD;
      text-decoration-color: #002b36;
      padding-left: 6px;
      font-weight: bold;
    }
  }

  .reference {
    .api-section {
      max-width: 780px;

      .heading, .subheading {
        .title {
          @include mdc-typography("headline");
        }

        .description {
          // @include mdc-typography("body2");
        }
      }
    }

    .symbol {
      background-color: #fafafa;
      padding: 32px;
      border-radius: 8px;
    }

    .symbol {
      margin-top: 64px;
      border-bottom: 4px solid white;

      .symbol-marker {
        font-size: 12px;
        background-color: #f5f5f5;
        border-radius: 4px;
        padding: 4px 8px 4px 8px;
        margin-left: 8px;
        font-weight: bold;
        color: $muted-text-col;
      }

      .symbol-header {
        font-size: 20px;
        font-weight: 700;
        font-family: "Roboto Mono", Roboto;
      }

    }

    .parameter-list {
      margin-top: 16px;

      .heading {
        font-weight: 500;
        color: $muted-text-col;
      }

      ul {
        padding-left:16px;
      }

      li.parameter {
        list-style-type: none;
        margin-bottom: 12px;
        line-height: 1.5em;

        &.config-param {
          margin-left: 24px;

        .param-name {
          color: $dark-text-col;
        }

        }

        .param-name {
          font-family: "Roboto Mono", Roboto;
          font-weight: bold;
        }

        .param-type {
          color: $muted-text-col;
          font-family: "Roboto Mono", Roboto;
        }
      }
    }

    .returns {
      margin-top: 16px;
      .returns-header {
        font-weight: 500;
        color: $muted-text-col;
      }

      .return-type {
        color: $muted-text-col;
        font-family: "Roboto Mono", Roboto;
      }
    }

    code.hljs {
      border-radius: 5px;
      padding-left: 16px;
      border: none;
      font-family: "Roboto Mono", Roboto;
      font-size: 90%;
    }

    pre.hljs {
      padding: 0px;
      padding-bottom: 32px;


      margin: 0;
      background: white;
      max-width: 720px;
    }

    .snippet-console {
      margin: -32px 0 24px 0;
      min-height: 24px;
      position: relative;
      max-width: 720px;
    }
    .snippet-console-log {
      border-radius: 5px;
      background: #f4f4f4;
      padding: 8px 16px;
      min-height: 16px;
      white-space: pre-wrap;
      font-family: "Roboto Mono", monospace;
    }
    .snippet-run-button {
      position: absolute;
      right: 4px;
      top: 4px;
      font-size: 12px;
      font-weight: bold;
    }

  }
}
