.main {
  margin: 0 !important;
  padding: 0 !important;
}

.page {
  padding: 0 !important;
  max-width: none !important;
}


.api-docs {
  display: flex;
  flex-direction: column;

  a {
    color: inherit;
  }
  table {
    text-align: left;
    font-family: "Roboto Mono", monospace;
  }
  thead {
    background-color: #dedede;
  }
  th {
    text-align: left;
    padding: 4px;
  }
  td {
    text-align: left;
    padding: 8px;
    padding-right: 16px;
  }

  nav {
    position: fixed;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    padding-left: 24px;
    width: 100%;
    height: 32px;
    background-color: rgb(96,125,139);
    z-index: 100;
  }

  nav a {
    display: inline-block;
    padding-top: 6px;
    color: white;
    font-size: 20px
  }
  nav .title {
    display: inline-block;
    text-align: center;
  }

  .content-area {
    display: flex;
    flex-direction: row;
  }

  .content-area .toc {
    width: 25%;
    min-width: 250px;
    max-width: 350px;
    height: calc(100vh - 52px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .content-area .reference {
    flex-grow: 1;
    height: calc(100vh - 52px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 40px;
  }

  /* TOC Pane */
  .toc {
    .section:nth-of-type(2) {
      margin-top: 0;
      padding-top: 0;
    }

    .symbol {
      padding: 0;
      margin-left: 8px;
      margin-bottom: 4px;
      border: none;
    }

    a {
      font-weight: normal;
      text-decoration-color: lightgrey;
      text-decoration: none;
      transition-property: color, text-decoration-color, padding;
      transition-duration: 0.15s;
    }

    a.highlighted {
      color: #0277BD;
      text-decoration-color: #002b36;
      padding-left: 6px;
      font-weight: bold;
    }
  }


}



@media (max-width: 599px) {
  body .container {
    flex-direction: column;
  }
  body .container .content-area {
    flex-direction: column;
    height:auto;
    width:100vw;
  }
  body .container .content-area .toc {
    height:auto;
    width:100vw;
    max-width: 100vw;
    overflow-y: auto;
    overflow-x: auto;
  }
  body .container .content-area .reference {
    height:auto;
    width:100vw;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 0;
  }
  }

.section {
  padding: 16px;
  margin-left: 0px;
  margin-top: 16px;
  padding-bottom: 32px;
}
.section-title {
  margin-bottom: 0px;
}
.subsection {
  margin-top: 16px;
  margin-left: 16px;
}
.sub-section-title {
  margin-bottom: 8px;
  font-weight: 400;
}
.subsection-title::before, h5::before {
  display: block;
  content: "";
  height: 60px;
  margin: -60px 0 0;
}

/* Reference Pane */
.reference .section {
  max-width: 720px;
}
.reference .subsection {
  margin-top: 40px;
  margin-left: 0;
}
.reference .subsection-title {
  font-weight: 300;
  margin-bottom: 16px;
}
.reference .subsection-description {
  font-weight: 300;
  margin-bottom: 80px;
  border-bottom: 1px solid rgb(96,125,139);
  margin-left: 8px;
  padding-bottom: 24px;
  font-size: 21px;
}
.reference .subsection-description p {
  font-size: inherit;
  font-weight: inherit;
}
.reference .symbol-marker {
  display: inline-block;
  margin-right: 12px;
  font-style: italic;
  font-size: 90%;
  color: grey;
}
.reference .symbol .symbol-name {
  text-decoration: none;
  color: #0277BD;
  margin-right: 0.33em;
}
.param-docs pre {
  background: #f4f4f4;
}
code.hljs {
  border-radius: 5px;
  padding-left: 16px;
}
pre.hljs {
  padding: 24px;
  padding-bottom: 32px;
  margin: 0;
  background: white;
}
code, .param-name, .return-type {
  background: #f7f7f7;
  background: #f4f4f4;
  color: #37474f;
  font-weight: 500;
  font-family: Roboto Mono, monospace;
  word-break: break-word;
}
.documentation a, .returns a,  .param-name a, .method-docs a, .param-docs a {
  color: #0277BD;
  font-weight: 500;
  font-family: Roboto Mono, monospace;
}
.reference .symbol {
  margin-left: 32px;
  margin-bottom: 96px;
  border-bottom: 1px solid #0277BD;
  padding-bottom: 16px;
}
.parameter {
  margin-bottom: 24px;
}
.config-parameter {
  margin-left: 30px;
}
.parameter-heading, .returns-header {
  margin-top: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}
.method {
  margin: 16px 0px 24px 25px;
}
.param-name {
  margin: 12px 0;
}
.param-docs {
  padding: 4px 12px;
}
.method-docs {
  padding: 12px 0 0 16px;
}
.source-ref {
  margin-top: 24px;
  font-style: italic;
}
.source-ref a {
  color:#0277BD;
}
.chip {
  background: #f4f4f4;
  display: inline-block;
  padding: 0 6px 0 6px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 82%;
}
.snippet-console {
  margin: -32px 24px 0 24px;
  min-height: 24px;
  position: relative;
}
.snippet-console-log {
  border-radius: 8px;
  background: #f4f4f4;
  padding: 8px 16px;
  min-height: 16px;
  white-space: pre-wrap;
  font-family: "Roboto Mono", monospace;
}
.snippet-run-button {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 12px;
  font-weight: bold;
}
