@import "material-components-web/material-components-web";

$header-height: 64px;
$footer-height: 64px;

$brand-color-main: #FB7923;

body {
  margin: 0;
  @include mdc-typography-base();

  .main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    background-color: white;
    padding: 0;
  }

  .page {
    padding: 64px;
    max-width: 800px;
  }

  a {
    color: blue;
    &:visited {
      color: blue;
    }
  }

  header {
    padding-right: 24px;
    background-color: $brand-color-main !important;
    border-bottom: 1px solid rgba(255,255,255, 0.3);
    a {
      padding: 10px 0px 22px 0px;
      margin: 0px 20px 0px 20px;

      color: white;
      text-decoration: none;
      border-bottom: 1px solid;
      border-color: rgba(255,255,255, 0.0);

      transition: border-color 200ms;

      &:visited {
        color: white
      }

      &.cta {
        padding: 10px 25px 10px 25px;
        background-color: #6200ee;
        border-radius: 4px;
      }

      &:hover {
        border-color: white;
      }

      &.button-link {
        border-bottom: none;
      }
    }

    .mdc-toolbar__title a {
      text-decoration: none;
      margin-left: 10px;
    }

  }

  .sidebar {
    .mdc-toolbar__title {
      margin: 0;
    }
  }

  footer {
    background-color: white;

    a {
      padding: 10px 0px 22px 0px;
      margin: 0px 20px 0px 20px;
      color: black;
    }
  }

  h1 {
    @include mdc-typography('display1');
    color: $brand-color-main;
    // font-weight: 300;
    margin-top: 64px;
  }

  h2 {
    @include mdc-typography('headline');
    // color: #FF9000;
    font-weight: 300;
    margin-top: 64px;
  }

  h3 {
    @include mdc-typography('title');
    margin-top: 24px;
  }

  p{
    line-height: 1.5em;
  }

  code {
    padding: 2px;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 110%;
  }
}


.index-page {
  padding: 0 !important;
  max-width: none !important;

  .hero {
    display: flex;
    background: linear-gradient(#FB7923, #FBC000);

    width: 100%;
    height: 400px;

    align-items: center;
    justify-content: center;

    .hero-title {
      color: white;

      display: flex;
      flex-direction: column;

      align-items: center;
      text-align: center;
      h1 {
        @include mdc-typography("display3");
        // font-weight: 100;
        margin: 0;
        color: white;
      }

      p {
        @include mdc-typography("title");
        max-width: 70%;
      }
    }
  }

  .content {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 960px;

    .initial-blurb {
      @include mdc-typography("headline");
      text-align: center;
      font-weight: 300;
      margin-bottom: 60px;

      hr {
        margin-top: 60px;
      }
    }

    .value-props {
      display: flex;
      margin-top: 80px;
      margin-bottom: 100px;
      flex-direction: row;
      justify-content: space-around;

      .proposition {
        line-height: 1.45em;
        width: 28%;

        .title {
          @include mdc-typography("title");
        }
      }
    }

    .demos {
      .demo-block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-height: 350px;
        margin: 0px 0 100px 0;

        &:nth-child(odd) {
          .info {
            order: 2;
            padding-left:50px;
            padding-right:0px;
          }
        }

        .info {
          width: 33%;
          padding-right:50px;
          display: flex;
          flex-direction: column;

          .title {
            @include mdc-typography("title");
            text-transform: uppercase;
            border-bottom: 2px solid blue;


            a {
              color: blue;
              text-decoration: none;
            }
          }

          .blurb {
            @include mdc-typography("subheading2");
            margin-top: 24px;
          }
        }

        .image {
          width: inherit;
          width: 66%;

          img {
            height: 100%;
          }
        }

        .ctas {
          height: 40px;
          margin-top: auto;

          a {
            text-decoration: none;
          }
        }
      }
    }

    .getting-started {
      .gs-code {
        display: flex;
        flex-direction: row;

        font-size: 120%;

        pre {
          margin:0;
          padding: 0;
          margin-right: 30px;
        }

        code {
          padding: 2px;
          border: 1px solid #dedede;
          border-radius: 4px;
        }

        h3 {
          @include mdc-typography("subheading1");
        }
      }
    }

    .getting-help {
      margin-bottom: 100px;
    }

  }
}

.page-tutorials {


  h2 {
    margin-top: 64px;
  }
}
