<div class="page api-docs">
{{#with (getApi page.site.data page.title)}}
  {{!-- Left Page TOC --}}
  <div class="toc">
     {{> apiToc }}
  </div>
  {{!-- Main Content Area --}}
  <div class="reference">
    {{#headings}}
      <div class="api-section">
        {{> apiHeading name=name desc=description}}
        {{#subheadings}}
          {{> apiSubhead name=name desc=description}}
          {{#symbols}}
            {{#if isClass}}
              {{~> apiClass symbol=this~}}
            {{else}}
              {{~> apiFunction symbol=this ~}}
            {{/if}}
          {{/symbols}}
        {{/subheadings}}
      </div>
    {{/headings}}
  </div>
  {{!-- End --}}
 {{/with}}
</div>
