<div class="page index-page">
  <div class="hero">
    <div class="hero-title">
      TensorFlow.js
    </div>
  </div>

  <div class="content">
    <div class="initial-blurb">
       TensorFlow.js is a machine learning framework for JavaScript developers. It supports building ML models in JavaScript, and
      training and deploying them in the browser for execution using WebGL acceleration. It is compatible with TensorFlow, and
      supports importing saved TensorFlow models. It permits execution of models on data kept at client-side, thus enabling applications
      where data privacy and regulations may require this. Also, In the future, it will also include support for running models
      in a Node.js runtime with TensorFlow backend.
      <hr />
    </div>

    <div class="value-props">
      <div class="proposition">
        <div class="title">TensorFlow Compatible</div>
        <span>
          Using included converters, existing saved TensorFlow (and Keras) models can be converted into a TensorFlow.js compatible format. These imported models can then be executed in a web application. This is useful for ML beginners who are  experimenting with ML methods, as well as for data scientists who want to run existing ML models on their client-side data with no ML infrastructure needing to be installed.
          </span>
      </div>

      <div class="proposition">
        <div class="title">Retraining</div>
        <span>
           An application developer with moderate ML and JS knowledge can take an imported ML model and retrain/modify it to develop
          a new model which can be used in their intended application. Principle advantages this affords is easy access to local sensor
          data attached to the browser (eg, webcams and microphones), as well as the interactivity and visualization capabilities of
          a browser development environment.

        </span>
      </div>

      <div class="proposition">
        <div class="title">Train in the browser</div>
        <span>
           A JavaScript developer familiar with ML wanting to design and develop new models and methods can use the powerful, flexible,
          and intuitive APIs to build models from scratch or clone existing projects. The developed solutions can be executed in browser
          with native web acceleration. Or when scaling up these models for more compute resources, the models can be executed with
          Node.js bindings to a TensorFlow backend.
        </span>
      </div>
    </div>

    <div class="demos">
      <h1>Demos</h1>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="">Teachable Machine</a>
          </div>
          <div class="blurb">
             No coding required! Teach a machine to
             recognize images and play sounds.
          </div>

          <div class="ctas">
            <a href="">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <div class="image mdc-card">
          <img src="images/teachablemachine_preview.jpg">
        </div>
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="">Performance RNN</a>
          </div>
          <div class="blurb">
            Enjoy a real-time piano performance by a neural network
          </div>

          <div class="ctas">
            <a href="">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <div class="image mdc-card">
          <img src="images/performance_rnn_preview.jpg">
        </div>
      </div>

    </div>


    <div id="getting-started" class="getting-started">
      <h1>Getting Started</h1>
    </div>

    <div class="getting-help">
      <h1>Need Help?</h1>
    </div>

  </div>
</div>
