<div class="index-hero">
  <div class="hero-title">
    <img src='images/TF_JS_lockup.png' alt="TensorFlow.js"></img>
    <p>
      A JavaScript library for training and deploying ML models in the browser and on Node.js
    </p>
  </div>
</div>
<div class="page index-page center">


  <div class="content">
    <div class="value-props">
      <div class="proposition">
        <div class="title">Develop ML with JavaScript</div>
        <span>
          Use flexible and intuitive APIs to build and train models from scratch using the low-level JavaScript linear
          algebra library
          or the high-level layers API
        </span>
      </div>

      <div class="proposition">
        <div class="title">Run Existing Models</div>
        <span>
          Use TensorFlow.js model converters to run pre-existing TensorFlow models right in the browser or under
          Node.js.
        </span>
      </div>

      <div class="proposition">
        <div class="title">Retrain Existing Models</div>
        <span>
          Retrain pre-existing ML models using sensor data connected to the browser, or other client-side data.
        </span>
      </div>
    </div>

    <div class="demos">
      <hr>
      <h1>Built With TensorFlow.js</h1>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://emojiscavengerhunt.withgoogle.com/" target="_blank">Emoji Scavenger Hunt</a>
          </div>
          <div class="blurb">
            Use your phone’s camera to identify emojis in the real world. Can you find all the emojis before time
            expires?
          </div>

          <div class="ctas">
            <a href="https://emojiscavengerhunt.withgoogle.com/" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/google/emoji-scavenger-hunt">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/EmojiScavengerHunt.png">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html" target="_blank">
              Webcam Controller
            </a>
          </div>
          <div class="blurb">
            Play Pac-Man using images trained in your browser.
          </div>

          <div class="ctas">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/tensorflow/tfjs-examples/tree/master/webcam-transfer-learning">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/pacman-controller.png">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html" target="_blank">
              PoseNet
            </a>
          </div>
          <div class="blurb">
            Real-time
            <a href="https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5"
              target="_blank">Human Pose Estimation</a> in the browser.
          </div>

          <div class="ctas">
            <a href="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/tensorflow/tfjs-models/tree/master/posenet">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/posenet_preview.jpg">
      </div>


      <a href="/demos" class="centered-button">
        <button class="mdc-button mdc-button--raised">See More Demos</button>
      </a>

      <hr>

    </div>

    <div id="getting-started" class="getting-started">
      <h1>Getting Started</h1>

      <div id="new-to-ml">
        <h2>New To Machine Learning?</h2>
        <p class="section-intro">
          Want to get started with Machine Learning but not worry about any low level details like Tensors or
          Optimizers?
          Check out these high level coding APIs and learning resources.
        </p>
        <div id="ml-beginner-paths">
          <div class="path">
            <img src="/images/ml5.png" alt="ml5 library">
            <p>
              <strong>
                Do you want to code ML programs without dealing directly with Tensors?
              </strong>
            </p>
            <p>
              With the <a href="https://ml5js.org" target="_blank">ML5 library</a>, you can easily incorporate neural
              nets into your projects without needing to modify the internals of the neural nets themselves.
            </p>
          </div>

          <div class="path">
            <img src="/images/tfjs-models.png" alt="tensorflow.js models repository">
            <p>
              <strong>
                Are you looking to incorporate pre-trained models into your web-app?
              </strong>
            </p>
            <p>
              <a href="https://github.com/tensorflow/tfjs-models" target="_blank">Check out tfjs-models!</a> A
              collection of pre-built
              models that don’t require knowledge of Tensors.
            </p>
          </div>

          <div class="path">
            <img src="/images/coding-train.png" alt="coding train tutorials">
            <p>
              <strong>
                Are you looking for a gentle introduction to machine learning concepts with JavaScript?
              </strong>
            </p>
            <p>
              Check out <a href="https://www.youtube.com/user/shiffman/playlists?view=50&shelf_id=16&sort=dd" target="_blank">The
                Coding Train’s</a> Introduction to Neural Networks and Machine Learning.
              <br>
              <br>
              Also see our guide on <a href="/tutorials/how-to-get-started.html">How to get started with X.</a>
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div id="ready-for-tfjs">
        <h2>Ready to Start Coding with Tensorflow.js?</h2>

        <p class="section-intro">
          Comforable with concepts like Tensors, Layers, Optimizers and Loss Functions (or are willing to get
          comfortable with them)? TensorFlow.js provides low-mid level building blocks for neural network programming
          in JavaScript.
        </p>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Get Setup with TensorFlow.js
            </div>
            <span class="path-type">Guide</span>
            <p>See how to get <a href="/setup">up and runnning with TensorFlow.js code</a> in the browser or Node.js</p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Convert Pretained Models to TensorFlow.js
            </div>
            <span class="path-type">Guide</span>
            <p>
              <a href="/tutorials/import-saved-model.html">See how to convert a Python SavedModel</a>
              <br>
              <a href="tutorials/import-keras.html">See how to convert a Keras SavedModel</a>
            </p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Learn from existing TensorFlow.js code
            </div>
            <span class="path-type">Code</span>
            <p>
              tfjs-examples provides smallish code examples that implement various ML tasks using TensorFlow.js.
            </p>
            <p><a href="https://github.com/tensorflow/tfjs-examples" target="_blank">Check it out on GitHub</a></p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Visualize the Behaviour of your TensorFlow.js Model
            </div>
            <span class="path-type">Library</span>
            <p>
              tfjs-vis is a small library for in browser visualization intended for use with TensorFlow.js.
            </p>
            <p>
              <a href="https://github.com/tensorflow/tfjs-vis" target="_blank">Check it out the library on GitHub</a>
              <br>
              <a href="https://storage.googleapis.com/tfjs-vis/mnist/dist/index.html" target="_blank">See a demo using
                tfjs-vis to
                visualize training progress</a>
            </p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Get your data ready for processing with TensorFlow.js
            </div>
            <span class="path-type">Library</span>
            <p>
              TensorFlow.js has support for processing data using ML best practices.
            </p>
            <p><a href="/api/latest/#Data">See how to use tfjs-data in our docs</a></p>
          </div>
        </div>
      </div>

      <hr>
    </div>

    <div class="learning">
      <h1>Learning &amp; Community</h1>

      <div class="learning-resources">
        <h2>Learning Resources</h2>

        <div class="resource">
          <div class="title">Tutorials &amp; Guides</div>
          <p>See our collection of <a href="./tutorials">tutorials & guides</a> on various topics with TensorFlow.js.</p>
        </div>

        <div class="resource">
          <div class="title">API Docs</div>
          <p>Check out our <a href="./api/{{latestVersion}}/">API docs</a> with live runnable code snippets.</p>
        </div>

        <div class="resource">
          <div class="title">Examples</div>
          <p>
            tfjs-examples provides smallish code examples that implement various ML tasks using TensorFlow.js.<br>
            <a href="https://github.com/tensorflow/tfjs-examples" target="_blank">Check it out on GitHub.</a>
          </p>
        </div>
      </div>


      <div class="community-resources">
        <h2>Community Resources</h2>

        <div class="resource">
          <div class="title">Mailing List</div>
          <p>
            Connect with others on the
            <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs" target="_blank">Community
              Discussion List.</a>
            <br>
            Join the <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs-announce" target="_blank">Announcement
              only mailing list.</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">Stack Overflow</div>
          <p>
            Stuck on a technical question? Use the
            <a href="https://stackoverflow.com/questions/tagged/tensorflow.js" target="_blank">tensorflow.js tag</a>
            on Stack Overflow
          </p>
        </div>

        <div class="resource">
          <div class="title">GitHub Issues</div>
          <p>
            Found a bug in the library?
            <a href="https://github.com/tensorflow/tfjs/issues" target="_blank">File an issue on GitHub!</a>

          </p>
        </div>

        <div class="resource">
          <div class="title">Community Gallery</div>
          <p>
            Check out a gallery of user submitted projects.
          </p>
        </div>

        <div class="resource">
          <div class="title">Twitter</div>
          <p>
            <a href="https://twitter.com/tensorflow" target="_blank">Follow us on Twitter</a>
            <br>
            Feel free to share your work with the #TensorFlowJS hashtag.
          </p>
        </div>

      </div>

    </div>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</div>
