<div class="index-hero">
  <div class="hero-title">
    <img src='images/TF_JS_lockup.png' alt="TensorFlow.js"></img>
    <p>
      A WebGL accelerated, browser based JavaScript library for training and deploying ML models.
    </p>
  </div>
</div>
<div class="page index-page">


  <div class="content">
    <div class="value-props">
      <div class="proposition">
        <div class="title">Develop ML in the Browser</div>
        <span>
          Use flexible and intuitive APIs to build models from scratch using the low-level JavaScript linear algebra library or the
          high-level layers API
        </span>
      </div>

      <div class="proposition">
        <div class="title">Run Existing models</div>
        <span>
          Use TensorFlow.js model converters to run pre-existing TensorFlow models right in the browser.
        </span>
      </div>

      <div class="proposition">
        <div class="title">Retrain Existing models</div>
        <span>
          Retrain pre-existing ML models using sensor data connected to the browser, or other client-side data.
        </span>
      </div>


    </div>

    <div class="demos">
      <h1>Demos</h1>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="">Webcam Controller</a>
          </div>
          <div class="blurb">
            Play pacman using images trained in your browser.
          </div>

          <div class="ctas">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/tensorflow/tfjs-examples/tree/master/webcam-transfer-learning">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/pacman-controller.png">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="">Teachable Machine</a>
          </div>
          <div class="blurb">
             No coding required! Teach a machine to
             recognize images and play sounds.
          </div>

          <div class="ctas">
            <a href="https://teachablemachine.withgoogle.com/" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/googlecreativelab/teachable-machine"  target="_blank">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/teachablemachine_preview.jpg">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="">Performance RNN</a>
          </div>
          <div class="blurb">
            Enjoy a real-time piano performance by a neural network
          </div>

          <div class="ctas">
            <a href="./demos/performance_rnn" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/PAIR-code/deeplearnjs/tree/master/demos/performance_rnn">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/performance_rnn_preview.jpg">
      </div>

    </div>


    <div id="getting-started" class="getting-started">
      <h1>Getting Started</h1>
      <p>
        You can use TensorFlow.js by installing it from NPM or via script tags.
      </p>

      <h3>Installation</h3>
      <div class="gs-code">
        <pre><code class="lang-shell">yarn add @tensorflow/tfjs</code></pre>
        <pre><code class="lang-shell">npm install @tensorflow/tfjs</code></pre>
      </div>

      <div class="gs-code">
        <pre>
          <code class="lang-html">&lt;script src="https://cdn.jsdelivr.net/npm/tfjs@{{latestVersion}}"&gt;&lt;/script&gt;</code>
        </pre>
      </div>


      <h3>Usage</h3>
      <p>
        See our <a href='./tutorials'>tutorials</a>,
        <a href='https://github.com/tensorflow/tfjs-examples' target="_blank">examples</a>
        and <a href="./api/{{latestVersion}}/">documentation</a> for more details,
        but let's look at what it looks like to train a simple model in TensorFlow.js
      </p>
      <div class="gs-code">
<pre>
  <code class="lang-js">
  import * as tf from '@tensorflow/tfjs';

  // Define a model for linear regression.
  const model = tf.sequential({layers: [tf.layers.dense({units: 1, inputShape: [1]})]});

  // Prepare the model for training: Specify the loss and the optimizer.
  model.compile({loss: 'meanSquaredError', optimizer: 'sgd'});

  // Generate some synthetic data for training.
  const xs = tf.tensor2d([1, 2, 3, 4], [4, 1]);
  const ys = tf.tensor2d([1, 3, 5, 7], [4, 1]);

  // Train the model using the data.
  await model.fit(xs, ys);

  // Use the model to do inference on a data point the model hasn't seen before:
  model.predict(tf.tensor2d([5], [1, 1]).print();
  </code>
</pre>
      </div>
    </div>

    <div class="getting-help">
      <h1>Need Help? Want to connect?</h1>
      <p>
        Feel free to file issues on our <a href="https://github.com/tensorflow/tfjs/issues" target="_blank">GitHub Repository</a> if you run into bugs using the library.
        We also have a <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs" target="_blank">community mailing list</a>
        for people to ask questions, get technical help, and share what they are doing with
        TensorFlow.js! To keep up to date with TensorFlow.js news follow us on <a href="https://twitter.com/tensorflow" target="_blank">twitter</a> or join
        the <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs-announce" target="_blank">announcement only</a> mailing list.
        <ul>
          <li>
            <a href="https://github.com/tensorflow/tfjs/issues" target="_blank">GitHub Issues</a>
          </li>
          <li>
            <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs" target="_blank">Community Discussion List</a>
          </li>
          <li>
            <a href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs-announce" target="_blank">Announcement only mailing list</a>
          </li>
          <li>
            <a href="https://twitter.com/tensorflow" target="_blank">Twitter</a>
          </li>
        </ul>
      </p>
    </div>

  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</div>
