<div class="index-hero">
  <div class="hero-title">
    <img src='images/TF_JS_lockup.png' alt="TensorFlow.js"></img>
    <p>
      A JavaScript library for training and deploying ML models in the browser and on Node.js
    </p>
  </div>
</div>
<div class="page index-page center">


  <div class="content">
    <div class="value-props">
      <div class="proposition">
        <div class="title">Develop ML with JavaScript</div>
        <span>
          Use flexible and intuitive APIs to build and train models from scratch using the low-level JavaScript linear
          algebra library
          or the high-level layers API
        </span>
      </div>

      <div class="proposition">
        <div class="title">Run Existing Models</div>
        <span>
          Use TensorFlow.js model converters to run pre-existing TensorFlow models right in the browser or under
          Node.js.
        </span>
      </div>

      <div class="proposition">
        <div class="title">Retrain Existing Models</div>
        <span>
          Retrain pre-existing ML models using sensor data connected to the browser, or other client-side data.
        </span>
      </div>
    </div>

    <div class="demos">
      <hr>
      <h1>Built With TensorFlow.js</h1>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://emojiscavengerhunt.withgoogle.com/" target="_blank">Emoji Scavenger Hunt</a>
          </div>
          <div class="blurb">
            Use your phone’s camera to identify emojis in the real world. Can you find all the emojis before time
            expires?
          </div>

          <div class="ctas">
            <a href="https://emojiscavengerhunt.withgoogle.com/" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/google/emoji-scavenger-hunt">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/EmojiScavengerHunt.png">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html" target="_blank">
              Webcam Controller
            </a>
          </div>
          <div class="blurb">
            Play Pac-Man using images trained in your browser.
          </div>

          <div class="ctas">
            <a href="https://storage.googleapis.com/tfjs-examples/webcam-transfer-learning/dist/index.html" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/tensorflow/tfjs-examples/tree/master/webcam-transfer-learning">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/pacman-controller.png">
      </div>

      <div class="demo-block">
        <div class="info">
          <div class="title">
            <a href="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html" target="_blank">
              PoseNet
            </a>
          </div>
          <div class="blurb">
            Real-time
            <a href="https://medium.com/tensorflow/real-time-human-pose-estimation-in-the-browser-with-tensorflow-js-7dd0bc881cd5"
              target="_blank">Human Pose Estimation</a> in the browser.
          </div>

          <div class="ctas">
            <a href="https://storage.googleapis.com/tfjs-models/demos/posenet/camera.html" target="_blank">
              <button class="mdc-button mdc-button--raised">Go to Demo!</button>
            </a>
            <a href="https://github.com/tensorflow/tfjs-models/tree/master/posenet">
              <button class="mdc-button mdc-button--raised">Code</button>
            </a>
          </div>
        </div>
        <img src="images/posenet_preview.jpg">
      </div>


      <div id="build-with-tfjs-more">
        <a href="/demos"><button class="mdc-button mdc-button--raised">See More Demos</button></a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/tensorflow/tfjs/blob/master/GALLERY.md" target="_blank" id='gallery-link-1'>
          <button class="mdc-button mdc-button--raised">See Community Gallery</button>
        </a>
      </div>


      <hr>

    </div>

    <div id="getting-started" class="getting-started">
      <h1>Getting Started</h1>

      <div id="new-to-ml">
        <h2>New To Machine Learning?</h2>
        <p class="section-intro">
          Want to get started with Machine Learning but not worry about any low level details like Tensors or
          Optimizers?
          Check out these high level coding APIs and learning resources.
        </p>
        <div id="ml-beginner-paths">
          <div class="path">
            <div class="path-img">
              <a href="https://ml5js.org" target="_blank">
                <img src="/images/ml5.png" alt="ml5 library">
              </a>
            </div>

            <p>
              <strong>
                Do you want to code ML programs without dealing directly with Tensors?
              </strong>
            </p>
            <p>
              The ml5.js library provides access to machine learning
              algorithms and models in the browser with a concise, approachable API.
            </p>

            <p class='bottom-valign'>
              <a class='cta-link mdc-button' href="https://ml5js.org" target="_blank">Check out ml5.js</a>
            </p>
          </div>

          <div class="path">
            <div class="path-img">
              <a href="https://github.com/tensorflow/tfjs-models" target="_blank">
                <img src="/images/tfjs-models.png" alt="tensorflow.js models repository">
              </a>
            </div>
            <p>
              <strong>
                Are you looking to incorporate pre-trained models into your web-app?
              </strong>
            </p>
            <p>
              Check out tfjs-models, a
              collection of pre-built models that doesn't require deep knowledge of Tensors.
            </p>

            <p class='bottom-valign'>
              <a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs-models" target="_blank">Check out
                tfjs-models</a>
            </p>
          </div>

          <div class="path">
            <div class="path-img">
              <a href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6YIeVA3dNxbR9PYj4wV31oQ" target="_blank">
                <img src="/images/coding-train.png" alt="coding train tutorials">
              </a>

            </div>
            <p>
              <strong>
                Are you looking for a gentle introduction to machine learning concepts with JavaScript?
              </strong>
            </p>
            <p>
              Check out The Coding Train’s Introduction to Neural Networks and Machine Learning with TensorFlow.js.
            </p>

            <p class='bottom-valign'>
              <a class='cta-link mdc-button' href="https://www.youtube.com/playlist?list=PLRqwX-V7Uu6YIeVA3dNxbR9PYj4wV31oQ"
                target="_blank">See the
                videos</a>
            </p>
          </div>
        </div>
      </div>
      <hr />
      <div id="ready-for-tfjs">
        <h2>Ready to Start Coding with TensorFlow.js?</h2>

        <p class="section-intro">
          Comforable with concepts like Tensors, Layers, Optimizers and Loss Functions (or are willing to get
          comfortable with them)? TensorFlow.js provides flexible building blocks for neural network programming
          in JavaScript.
        </p>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Get Setup with TensorFlow.js
            </div>
            <p>See how to get up and runnning with TensorFlow.js code in the browser or Node.js.</p>

            <p>
              <a class='cta-link mdc-button' href="/setup" target="_blank">Get Setup</a>
            </p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Convert Pretrained Models to TensorFlow.js
            </div>
            <p>Learn how to convert pretrained models from python into TensorFlow.js</p>
            <p>
              <a class='cta-link mdc-button' href="./conversion/import_saved_model">SavedModel</a>
              &nbsp;&nbsp;
              <a class='cta-link mdc-button' href="./conversion/import_keras">Keras Model</a>
            </p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Learn from existing TensorFlow.js code
            </div>
            <p>
              tfjs-examples provides small code examples that implement various ML tasks using TensorFlow.js.
            </p>
            <p><a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs-examples" target="_blank">See it
                on GitHub</a></p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Visualize the Behaviour of your TensorFlow.js Model
            </div>
            <p>
              tfjs-vis is a small library for in browser visualization intended for use with TensorFlow.js.
            </p>
            <p>
              <a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs-vis" target="_blank">See it on
                GitHub</a>
              &nbsp;&nbsp;
              <a class='cta-link mdc-button' href="https://storage.googleapis.com/tfjs-vis/mnist/dist/index.html"
                target="_blank">See Demo</a>
            </p>
          </div>
        </div>

        <div id="tfjs-paths">
          <div class="path">
            <div class="title">
              Get your data ready for processing with TensorFlow.js
            </div>
            <p>
              TensorFlow.js has support for processing data using ML best practices.
            </p>
            <p><a class='cta-link mdc-button' href="/api/latest/#Data">See docs</a></p>
          </div>
        </div>
      </div>

      <hr>
    </div>

    <div class="learning">
      <h1>Learning &amp; Community</h1>

      <div class="learning-resources">
        <h2>Learning Resources</h2>

        <div class="resource">
          <div class="title">Tutorials &amp; Guides</div>
          <p>We have a number of tutorials on various topics with TensorFlow.js.</p>
          <p>
            <a class='cta-link mdc-button' href="./tutorials">See tutorials & guides</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">API Docs</div>
          <p>Out API docs provide code samples you can run right in the page.</p>
          <p><a class='cta-link mdc-button' href="./api/{{latestVersion}}/">API docs</a></p>
        </div>

        <div class="resource">
          <div class="title">Examples</div>
          <p>
            tfjs-examples provides small code examples that implement various ML tasks using TensorFlow.js.<br>
          </p>
          <p>
            <a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs-examples" target="_blank">See it
              on GitHub</a>
          </p>
        </div>
      </div>


      <div class="community-resources">
        <h2>Community Resources</h2>

        <div class="resource">
          <div class="title">Mailing Lists</div>
          <p>
            <a class='cta-link mdc-button' href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs" target="_blank">Community
              Discussion List</a>
            <a class='cta-link mdc-button' href="https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs-announce"
              target="_blank">Announcement only mailing list</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">Stack Overflow</div>
          <p>
            <a class='cta-link mdc-button' href="https://stackoverflow.com/questions/tagged/tensorflow.js" target="_blank">tensorflow.js
              tag</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">GitHub Issues</div>
          <p>
            <a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs/issues" target="_blank">File an
              issue on GitHub</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">Community Gallery</div>
          <p>
            <a class='cta-link mdc-button' href="https://github.com/tensorflow/tfjs/blob/master/GALLERY.md" target="_blank">See
              Community Gallery</a>
          </p>
        </div>

        <div class="resource">
          <div class="title">Twitter</div>
          <p>
            <a class='cta-link mdc-button' href="https://twitter.com/tensorflow" target="_blank">Follow us on Twitter</a>
            <a class='cta-link mdc-button' href="https://twitter.com/search?f=tweets&vertical=default&q=%23tensorflowjs">#TensorFlowJS</a>
          </p>
        </div>

      </div>

    </div>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</div>
